.hero {
  @keyframes rotate {
    0% {
      transform: perspective(800px) rotateY(0deg) scale(1);
    }
    50% {
      transform: perspective(800px) rotateY(180deg) scale(1.5);
    }
    100% {
      transform: perspective(800px) rotateY(360deg) scale(1);
    }
  }

  @keyframes stars-moving {
    50% {
      transform: translate(-52%, -52%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes stars-growing {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
}

.main {
  @keyframes button-animation {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(15deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
}
