@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
footer {
  width: 100%;
  background-color: #464547;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.footer__column {
  padding: 30px 10px;
  align-self: start;
}
.footer__img {
  width: 20px;
}
.footer__logo {
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 175px;
}
.footer__project {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  margin-left: 18px;
}
.footer__p {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  opacity: 45%;
}
.footer__contact {
  color: white;
  opacity: 45%;
}
.footer__copy {
  align-self: end;
  width: 150%;
}
.footer__row {
  display: none;
}/*# sourceMappingURL=footer.css.map */