@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
.header {
  background-image: url("/assets/Desktop_Backgrounds_1920x1200_6 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0;
}
.header__headline {
  margin-top: 20px;
  margin-bottom: 30px;
}
.header__text {
  opacity: 80%;
}
.header__stars {
  width: 1500px;
  height: 1000px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40.5%;
  left: 67%;
  animation: stars-moving 3s ease-in-out infinite;
}
.header__growing-stars {
  height: 1060px;
  width: 1300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50.4%;
  left: 82%;
  animation: stars-growing 3s ease-in-out infinite;
}
.header__phone-stars {
  display: none;
}
.header__phone-growing-stars {
  display: none;
}
.header__logo {
  z-index: 100;
}
.header__logo:hover {
  animation: rotate 2s infinite;
}/*# sourceMappingURL=header.css.map */