@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.learn-more {
  background-image: url("../assets/learn-more-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__headline,
  &__text {
    color: white;
    z-index: 2;
  }

  &__button {
    transition: 1s;
    background-color: #39c2d7;
    color: #ffffff;
    width: 150px;
    height: 150px;
    font-size: 70px;
    border: none;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    z-index: 2;

    &:hover {
      background-color: #ffffff;
      color: #39c2d7;
      transform: scale(0.9);
    }
  }

  &__blur {
    height: 100vh;
    width: 100%;
    background-color: #8c4f2a;
    opacity: 30%;
    position: absolute;
    z-index: 1;
  }
}
