@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.main__headline {
  color: #464547;
  margin: 0;
}
.main__text {
  color: #666666;
}
.main__flex-div {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}
.main__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  text-align: start;
  width: 408px;
}
.main__button {
  background-color: #55c2d8;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20px;
  margin-top: 21px;
  border: none;
  width: 115px;
  height: 36px;
  z-index: 100;
}
.main__button:hover {
  animation: button-animation 2.2s infinite;
  perspective: 800px;
  transform-origin: left;
}/*# sourceMappingURL=main.css.map */