.navigation {
  @media (max-width: 768px) {
    &__div {
      display: none;
    }

    &__header-menu {
      display: block;
      margin-left: 45%;
    }
  }
}

.hero {
  @media (max-width: 768px) {
    background-image: url("../assets/phone-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__stars,
    &__growing-stars {
      display: none;
    }

    &__phone-stars {
      height: 1250px;
      width: 1000px;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 51%;
      left: 50.5%;
      animation: stars-moving 3s ease-in-out infinite;
    }

    &__phone-growing-stars {
      height: 1200px;
      width: 1200px;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 21.5%;
      top: 51%;
      animation: stars-growing 3s ease-in-out infinite;
    }
  }
}

.main {
  @media (max-width: 768px) {
    &__headline {
      width: 365px;
    }
    &__flex-div {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
  }
  &__column {
    display: none;
  }

  &__row {
    display: block;
    align-self: center;
    width: 80%;
    margin: 0;
  }

  &__logo {
    justify-content: center;
    margin-left: 0;
  }

  &__p {
    padding-top: 20px;
  }

  &__img {
    padding-right: 10px;
  }
}
