@media (max-width: 768px) {
  .navigation__div {
    display: none;
  }
  .navigation__header-menu {
    display: block;
    margin-left: 45%;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url("../assets/phone-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__stars, .hero__growing-stars {
    display: none;
  }
  .hero__phone-stars {
    height: 1250px;
    width: 1000px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 50.5%;
    animation: stars-moving 3s ease-in-out infinite;
  }
  .hero__phone-growing-stars {
    height: 1200px;
    width: 1200px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 21.5%;
    top: 51%;
    animation: stars-growing 3s ease-in-out infinite;
  }
}

@media (max-width: 768px) {
  .main__headline {
    width: 365px;
  }
  .main__flex-div {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=mobile.css.map */