li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  left: 23%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  width: 100%;

  &__div {
    display: block;
  }
  &__title {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
  }

  &__item {
    font-family: "Source Sans Pro";
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 32px;
  }
  &__header-menu {
    display: none;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
