@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.hero {
  background-image: url("/assets/Desktop_Backgrounds_1920x1200_6 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0;
}
.hero__headline {
  margin-top: 20px;
  margin-bottom: 30px;
}
.hero__text {
  opacity: 80%;
}
.hero__stars {
  width: 1500px;
  height: 1000px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40.5%;
  left: 67%;
  animation: stars-moving 3s ease-in-out infinite;
}
.hero__growing-stars {
  height: 1060px;
  width: 1300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50.4%;
  left: 82%;
  animation: stars-growing 3s ease-in-out infinite;
}
.hero__phone-stars {
  display: none;
}
.hero__phone-growing-stars {
  display: none;
}
.hero__logo {
  z-index: 100;
}
.hero__logo:hover {
  animation: rotate 2s infinite;
}
@media (max-width: 768px) {
  .hero {
    background-image: url("../assets/phone-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__stars, .hero__growing-stars {
    display: none;
  }
  .hero__phone-stars {
    height: 1250px;
    width: 1000px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 50.5%;
    animation: stars-moving 3s ease-in-out infinite;
  }
  .hero__phone-growing-stars {
    height: 1200px;
    width: 1200px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 21.5%;
    top: 51%;
    animation: stars-growing 3s ease-in-out infinite;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body__headline {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.body__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.body__paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  left: 23%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  width: 100%;
}
.navigation__div {
  display: block;
}
.navigation__title {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}
.navigation__item {
  font-family: "Source Sans Pro";
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 32px;
}
.navigation__header-menu {
  display: none;
}
.navigation li {
  list-style: none;
}
.navigation a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .navigation__div {
    display: none;
  }
  .navigation__header-menu {
    display: block;
    margin-left: 45%;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.main__headline {
  color: #464547;
  margin: 0;
}
.main__text {
  color: #666666;
}
.main__flex-div {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}
.main__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  text-align: start;
  width: 408px;
}
.main__button {
  background-color: #55c2d8;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20px;
  margin-top: 21px;
  border: none;
  width: 115px;
  height: 36px;
  z-index: 100;
}
.main__button:hover {
  animation: button-animation 2.2s infinite;
  perspective: 800px;
  transform-origin: left;
}
@media (max-width: 768px) {
  .main__headline {
    width: 365px;
  }
  .main__flex-div {
    flex-direction: column;
    align-items: center;
  }
}

.learn-more {
  background-image: url("../assets/learn-more-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.learn-more__headline, .learn-more__text {
  color: white;
  z-index: 2;
}
.learn-more__button {
  transition: 1s;
  background-color: #39c2d7;
  color: #ffffff;
  width: 150px;
  height: 150px;
  font-size: 70px;
  border: none;
  border-radius: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  z-index: 2;
}
.learn-more__button:hover {
  background-color: #ffffff;
  color: #39c2d7;
  transform: scale(0.9);
}
.learn-more__blur {
  height: 100vh;
  width: 100%;
  background-color: #8c4f2a;
  opacity: 30%;
  position: absolute;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: #464547;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.footer__column {
  padding: 30px 10px;
  align-self: start;
}
.footer__img {
  width: 20px;
}
.footer__logo {
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 175px;
}
.footer__project {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  margin-left: 18px;
}
.footer__p {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  opacity: 45%;
}
.footer__contact {
  color: white;
  opacity: 45%;
}
.footer__copy {
  align-self: end;
  width: 150%;
}
.footer__row {
  display: none;
}
@media (max-width: 768px) {
  .footer footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
  }
  .footer__column {
    display: none;
  }
  .footer__row {
    display: block;
    align-self: center;
    width: 80%;
    margin: 0;
  }
  .footer__logo {
    justify-content: center;
    margin-left: 0;
  }
  .footer__p {
    padding-top: 20px;
  }
  .footer__img {
    padding-right: 10px;
  }
}

@keyframes rotate {
  0% {
    transform: perspective(800px) rotateY(0deg) scale(1);
  }
  50% {
    transform: perspective(800px) rotateY(180deg) scale(1.5);
  }
  100% {
    transform: perspective(800px) rotateY(360deg) scale(1);
  }
}
@keyframes stars-moving {
  50% {
    transform: translate(-52%, -52%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes stars-growing {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes button-animation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}/*# sourceMappingURL=styles.css.map */