@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body__headline {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.body__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.body__paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */